.content .table-wrapper {
    padding: 20px;
    padding-top: 0;
}

.content .dashboard-wrapper {
    padding: 20px;
    padding-top: 0;
}


.action-cell {
    display: flex;
}

.queue{
    background-color: #283593;
}

.serve{
    background-color: #3949ab;
}

.cancel{
    background-color: #5c6bc0;
}